.A8561E {
    border: 30px; background-color: #a8561e;
    padding: 30px;
}

.a0078E6 {
    border: 30px; background-color: #0078E6;
    padding: 30px;
    }

    .a6D3ACF{
        border: 30px; background-color: #6D3ACF;
    padding: 30px;

    }